header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img{
    margin-bottom: 40px;
}

button{
    width: 80px;
}

.textomaior {
    font-size: 170%;
}

.colorchange {
    color: rgb(182, 39, 39);
}